:root{
    /* PRIMARY */
    --soft-red : hsl(7, 99%, 70%);
    --yellow : hsl(51, 100%, 49%);
    --dark-cyan : hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan:hsl(168, 34%, 41%);
    /* NEUTRAL */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
nav{
    display: none;
}
#mobile-nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}
#hero{
    background-image: url(./images/mobile/image-header.jpg);
    aspect-ratio: 9/14;
    background-size: cover;
    color: white;
}
#arrow{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 150px; 
}
body{
    /* min-width: 100vw; */
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    margin: auto;
    
}
.duo{
    display: grid;
    grid-template-columns: 100%;
}
.duo>div{
    aspect-ratio: 1/1;
    text-align: center;
}
.duo>img{
    width: 100%;
}
p{
    font-family: "Barlow";
}
.bold{
    font-family: 'Barlow', sans-serif;
}
.white-bg{
    padding: 3rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}
img {
    max-inline-size: 100%;
    block-size: auto;
    
}
h1{
    text-align: center;
    margin: 0;
    font-size: 4rem;
    margin: 5rem 0;
    font-family: "Fraunces";
}
li{
    list-style: none;
}
.cherry,.orange{
    /* height: 600px; */
    text-align: center;
    max-width: 100%;
    aspect-ratio: 9/14 !important;
    display: flex;
    align-items: flex-end;
}
.cherry{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-size: cover;
}
.orange{
    background-image: url(./images/mobile/image-photography.jpg);
    background-size: cover;
}
.color-bg{
    padding: 4rem 1rem ;
}
.testimony{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    align-items: center;
}
.testimony>img{
    width: 75px;
    border-radius: 50%;
    padding: 4rem;
}
.testimonials{
    /* height: 1200px; */
}
.testimonials>h2{
    color: var(--dark-moderate-cyan);
    text-align: center;
    margin: 0;
    padding: 3rem 0 ;
}
body > section.testimonials > div > div:nth-child(3){
    padding-bottom: 2rem;
}
.tcontainer {
    display: flex;
    text-align: center;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

}
.illustrations{
    display: flex;
}
.illustrations>div>img{
    max-width: 50%;
    float: left;
}
